certifi==2020.11.8
chardet==3.0.4
decorator==4.4.2
dnspython==1.16.0
eventlet==0.29.1
greenlet==0.4.17
idna==2.10
msgpack==1.0.0
py==1.9.0
pyDes==2.0.1
pymetasploit3==1.0.3
python-engineio==3.13.2
python-socketio==4.6.0
requests==2.25.0
retry==0.9.2
rpa==1.27.1
six==1.15.0
tagui==1.27.1
urllib3==1.26.2
